@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "tailwindcss";

@theme {
  /* --- Fonts --- */
  --font-playfair: 'Playfair Display SC', serif;
  --font-source: 'Source Sans 3', sans-serif;

  /* --- Colors --- */
  --color-primary: #CDAD96;
  --color-primarydark: #B39681;
  --color-secondary: #F5E8DF;
  --color-latte: #FFFBF8;

  /* --- Shadows --- */
  --shadow-book: -4px 4px 16px 8px rgba(0, 0, 0, .15);

  /* --- Breakpoints --- */
  --breakpoint-md: 740px;
  --breakpoint-sm: 620px;
  --breakpoint-xs: 390px;
}

body {
  background-color: var(--color-secondary);
  font-family: var(--font-source);
}